# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Virtual environment
env/
.venv/
venv/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Ignorar material de apoio e gabaritos locais
gabarito.ipynb
Apostila Jornada Python - Aula 2.pdf

# Logs
*.log

# macOS
.DS_Store
